{% extends "index.html" %}
{% block content %}

<h1>Сайты</h1>
<div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="urls">
        <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Последняя проверка</th>
            <th>Код ответа</th>
        </tr>
        </thead>
        <tbody>

        {% for site in sites %}
        <tr>
            <td>{{ site.id }}</td>
            <td>
                <a href="{{ url_for('display_current_site', id=site.id)}}">
                    {{ site.name }}
                </a>
            </td>
            <td>{{ site.last_check }}</td>
            <td>{{ site.status_code }}</td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}